blockquote.processFile {
    color: #363539;
}
.showFiles {
    list-style: none;
}
.showFiles li {
    width: 90%;
    margin: 1%;
}
.showFiles li a {
    width: 100%;
}
.panel-heading {
    position: relative;
    padding: 2%;
}
.processForm {
    position: absolute;
    right: 4%;
    top:15%;
}